{include="_head_"}
<form method="post">
  <label for="DataTitle">Title</label>
  <input type="text" name="data[title]" value="" id="DataTitle" />
  <label for="DataAuthor">Author</label>
  <input type="text" name="data[author]" value="" id="DataAuthor" />
  <label for="DataPrivateKey">Private Key</label>
  <input type="text" name="data[private_key]" value="" id="DataPrivateKey" />

  <label for="DataType">Type</label>
  <select name="data[type]" id="DataType">
    <option value="Plain"     >Text</option>
    <option value="AS3"       >ActionScript3</option>
    <option value="Bash"      >Bash/shell</option>
    <option value="ColdFusion">ColdFusion</option>
    <option value="CSharp"    >C#</option>
    <option value="Cpp"       >C++</option>
    <option value="Css"       >CSS</option>
    <option value="Delphi"    >Delphi</option>
    <option value="Diff"      >Diff</option>
    <option value="Erlang"    >Erlang</option>
    <option value="Groovy"    >Groovy</option>
    <option value="JScript"   >JavaScript</option>
    <option value="Java"      >Java</option>
    <option value="JavaFX"    >JavaFX</option>
    <option value="Perl"      >Perl</option>
    <option value="Php"       >PHP</option>
    <option value="PowerShell">PowerShell</option>
    <option value="Python"    >Python</option>
    <option value="Ruby"      >Ruby</option>
    <option value="Scala"     >Scala</option>
    <option value="Sql"       >SQL</option>
    <option value="Vb"        >Visual Basic</option>
    <option value="Xml"       >XML</option>
  </select>

  <label for="DataText">Text</label>
  <textarea name="data[text]" id="DataText" rows="8" cols="40"></textarea>

  <p><input type="submit" value="Continue →"></p>
</form>
{include="_foot_"}
